<?xml version="1.0"?>
<launch>
  <node name="depth_detector_node" pkg="aruco_detector" type="depth_detector_node" output="screen">
    <param name="image"         value="camera/color/image_raw" />
    <param name="depth_image"   value="camera/aligned_depth_to_color/image_raw" />
    <param name="camera_info"   value="camera/color/camera_info" />
  </node>
</launch>
