<?xml version="1.0"?>
<launch>
  <arg name="ns"            default="camera"/>
  <arg name="image"         default="color/image_raw"/>
  <arg name="markers"       default="markers"/>
  <arg name="depth_image"   default="aligned_depth_to_color/image_raw"/>
  <arg name="camera_info"   default="color/camera_info"/>
  <arg name="display"       default="true"/>
  <arg name="is_depth_in_meters" default="true" />

  <group ns="$(arg ns)">
      <node name="depth_detector_node" pkg="aruco_detector" type="depth_detector_node" output="screen">
        <param name="image"         value="$(arg image)" />
        <param name="markers"       value="$(arg markers)"/>
        <param name="depth_image"   value="$(arg depth_image)" />
        <param name="camera_info"   value="$(arg camera_info)" />
        <param name="tf_prefix"     value="$(arg ns)" />
        <param name="display"       value="$(arg display)"/>
        <param name="is_depth_in_meters" type="string" value="$(arg is_depth_in_meters)" />
      </node>
   </group>
</launch>